In [162]:
'''1. Write a Python function to accept a string value from the user and display the
count of each character in that string. Sample input: Enter a string value:
assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1 '''

'1. Write a Python function to accept a string value from the user and display the\ncount of each character in that string. Sample input: Enter a string value:\nassembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1 '

In [161]:
def char_counts(string):
  counts=0
  for char in string:
    if char in counts:
      counts[char] +=1
    else:
        counts[char]=1
    return counts

In [ ]:
character_value=input('Enter the string:')
for character, count in character_counts.items():
  print(f"{character}={count}")

Enter the string:Armaan
A=1
r=1
m=1
a=2
n=1

In [160]:
'''2. Write a Python function to find the maximum of three numbers Sample input:
34,12,7 Sample output: 34'''

'2. Write a Python function to find the maximum of three numbers Sample input:\n34,12,7 Sample output: 34'

In [ ]:
def max_num(x,y,z):

  if x >=y and x >=z:
    return x
  elif y>=x and y>=z:
    return y
  else:
    return z

In [ ]:
x=28
y=90
z=45
print(max_num(x,y,z))

90

In [159]:
'''3. Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp. Sample input: Enter the base: 2
Enter the exponent: 3 Sample output: 8 '''

'3. Write a Python function called exponent(base,exp) that returns an integer\nvalue of base raises to the power of exp. Sample input: Enter the base: 2\nEnter the exponent: 3 Sample output: 8 '

In [ ]:
def exponent (base,exp):
  integer=1
  for i in range(exp):
      integer*=base
  return integer

In [ ]:
base=int(input('Enter the base:'))
exp=int(input('Enter the exponent:'))
print(exponent(base,exp))

Enter the base:2
Enter the exponent:3
8

In [ ]:
'''4. Write a Python function that takes a positive integer and returns the sum of
the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36. '''

'Write a Python function that takes a positive integer and returns the sum of\nthe cube of all the positive integers smaller than the specified number.\nSample input: 4 Sample output: 36. '

In [ ]:
def cube(n):
  count=0
  for i in range(1,n):
    count +=i**3
  return count

In [ ]:
n=int(input('Enter a positive integer: '))
print('output = ',cube(n))

Enter a positive integer: 2
output =  1

In [ ]:
'''5. Write a Python program which iterates from 1 to 10. For multiples of 2, print
“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For
numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:
numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9
FizzBuzz '''

In [ ]:
def function(i):
  count=0
for i in range(1, 11):
    if i%2==0 and i%5==0:
        print('FizzBuzz')
    elif i%2==0:
        print('Fizz')
    elif i%5==0:
        print('Buzz')
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [ ]:
'''7. Write a Python function to find the sum of squares of the numbers in a list.
Sample input: 2,1,3,1 Sample output: 15 '''

' Write a Python function to find the sum of squares of the numbers in a list.\nSample input: 2,1,3,1 Sample output: 15 '

In [144]:
def sum_of_squares(numbers):
  sum_of_squares = 0
  for number in numbers:
    sum_of_squares += number * number
  return sum_of_squares
numbers = [2, 1, 3, 1]
result = sum_of_squares(numbers)
print(f"The sum of squares of the numbers in the list is: {result}")

The sum of squares of the numbers in the list is: 15

In [145]:
'''9. Write a Python function to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41
Sample output: Temperature in Celsius =5 '''

'Write a Python function to convert temperatures to and from Celsius\nFahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=\ntemperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41\nSample output: Temperature in Celsius =5 '

In [153]:
f=float(input("Enter the Fahrenheit :"))
c = (f * 32/59)
print("The temperature in celcius:", c)

Enter the Fahrenheit :120
The temperature in celcius: 65.08474576271186

In [151]:
'''10. Write a Python function to calculate the factorial of a number (a nonnegative
integer). The function accepts the number as an argument. Sample input: 3
Sample output: 6 '''

'Write a Python function to calculate the factorial of a number (a nonnegative\ninteger). The function accepts the number as an argument. Sample input: 3\nSample output: 6 '

In [158]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)
print(factorial(3))

6

In [163]:
'''6. Write a Python function to find the most frequent item in a list of numbers.
Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2 '''

'6. Write a Python function to find the most frequent item in a list of numbers.\nSample input: 2, 3, 4, 2, 5, 2 Sample output: 2 '

In [164]:
def frequent_num(list1):

    count_dict = dict()
    for item in list1:
        if item in count_dict:
            count_dict[item] += 1
        else:
            count_dict[item] = 1
    frequent_num_item = None
    highest_count = 0
    for item, count in count_dict.items():
        if count > highest_count:
            frequent_num_item = item
            highest_count = count
    return frequent_num_item

In [165]:
list1 = [2, 3, 4, 2, 5, 2]
frequent_num_item = frequent_num(list1)
print(f"The most frequent item is: {frequent_num_item}")

The most frequent item is: 2

In [166]:
'''8. Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-
even …. 15-odd'''

'8. Write a Python program using for loop that will iterate from 1 to 15. For each\niteration, check if the current number is odd or even, and display the message\nto the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-\neven …. 15-odd'

In [168]:
for i in range(1, 16):
  if i%2==0:
    print(i, 'even')
  else:
    print(i,  'odd')

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd

In [169]:
'''CASE STUDY:
In this case study, you have to create a program that calculates the final
grade for a student based on their scores in different assessments. The
program will take input from the user, perform calculations, and display the
final grade along with additional information.
Requirements:
1. The program should prompt the user to enter the following information:
• Student's name
• Number of assessments (e.g., assignments, quizzes, exams)
• Weight (percentage) of each assessment type
2. For each assessment type, the program should ask the user to enter:
• Number of assessments of that type
• Score obtained for each assessment.
3. The program should calculate the weighted average score for each
assessment type.
4. The program should then calculate the final grade using the weighted
average scores and the weights provided by the user.
5. The program should display the following information:
• Student's name
• Weighted average score for each assessment type
• Final grade
• Letter grade based on a grading scale (e.g., A, B, C, D, F)
6. The program should have a function to determine the letter grade based
on the final grade.'''

"CASE STUDY:\nIn this case study, you have to create a program that calculates the final\ngrade for a student based on their scores in different assessments. The\nprogram will take input from the user, perform calculations, and display the\nfinal grade along with additional information.\nRequirements:\n1. The program should prompt the user to enter the following information:\n• Student's name\n• Number of assessments (e.g., assignments, quizzes, exams)\n• Weight (percentage) of each assessment type\n2. For each assessment type, the program should ask the user to enter:\n• Number of assessments of that type\n• Score obtained for each assessment.\n3. The program should calculate the weighted average score for each\nassessment type.\n4. The program should then calculate the final grade using the weighted\naverage scores and the weights provided by the user.\n5. The program should display the following information:\n• Student's name\n• Weighted average score for each assessment type\n• Final grade\n• Letter grade based on a grading scale (e.g., A, B, C, D, F)\n6. The program should have a function to determine the letter grade based\non the final grade."

In [175]:
Arma = {"name": "Mohammed Armaan",
		"assignment": [80, 50, 40, 20],
		"test": [75, 75],
		"lab": [78.20, 77.20]
		}

Joel = {"name": "Joel Deepu",
		"assignment": [82, 56, 44, 30],
		"test": [80, 80],
		"lab": [67.90, 78.72]
		}

June = {"name": "Junaid Naseer",
		"assignment": [77, 82, 23, 39],
		"test": [78, 77],
		"lab": [80, 80]
		}

Merl = {"name": "Merlin shaji",
		"assignment": [67, 55, 77, 21],
		"test": [40, 50],
		"lab": [69, 44.56]
		}

Soup = {"name": "Souparnika",
	"assignment": [29, 89, 60, 56],
	"test": [65, 56],
	"lab": [50, 40.6]
	}


def get_average(marks):
	total_sum = sum(marks)
	total_sum = float(total_sum)
	return total_sum / len(marks)

def calculate_total_average(students):
	assignment = get_average(students["assignment"])
	test = get_average(students["test"])
	lab = get_average(students["lab"])

	return (0.1 * assignment +
			0.7 * test + 0.2 * lab)

def assign_letter_grade(score):
	if score >= 90:
		return "A"
	elif score >= 80:
		return "B"
	elif score >= 70:
		return "C"
	elif score >= 60:
		return "D"
	else:
		return "E"


	for student in student_list:
		stud_avg = calculate_total_average(student)
		result_list.append(stud_avg)
		return get_average(result_list)

students = [Arma, Joel, June, Merl, Soup]

for i in students:
	print(i["name"])

	print("\n Average marks of %s is : %s " % (i["name"],
							calculate_total_average(i)))

	print("Letter Grade of %s is : %s" % (i["name"],
			assign_letter_grade(calculate_total_average(i))))

	print()

Mohammed Armaan

 Average marks of Mohammed Armaan is : 72.79
Letter Grade of Mohammed Armaan is : C

Joel Deepu

 Average marks of Joel Deepu is : 75.962
Letter Grade of Joel Deepu is : C

Junaid Naseer

 Average marks of Junaid Naseer is : 75.775
Letter Grade of Junaid Naseer is : C

Merlin shaji

 Average marks of Merlin shaji is : 48.356
Letter Grade of Merlin shaji is : E

Souparnika

 Average marks of Souparnika is : 57.26
Letter Grade of Souparnika is : E